* {
  padding: 0;
    margin: 0;
    box-sizing: border-box;
  }

/* ELEMENTS */
body {
  font-family: 'Lato', sans-serif;
  font-family: 'Oswald', sans-serif;
  font-family: 'Rye', serif;
  color: #311f13;
  display: flex;
  flex-direction: column;
  text-align: center;
  background-color: #f4decb;
/*  background-image: url('../images/background-image.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center; */
}

section {
  margin-top: 2rem;
}

h1 {
  text-transform: uppercase;
  font-size: 2rem;
}

ol {
  text-align: left;
  display: inline-block;
}

ol li {
    margin-bottom: 1rem;
}

button {
  border-radius: 10%; 
  background-color: #3a2317;
  color: #f4decb;
  padding: 8px 16px;
}

/* CLASSES */

/* Sections to occupy for viewport */
.game-state {
  height: 100vh;
}

/* Fading functionality */
.fade-out,
.fade-in {
  transition: opacity 1s ease-in-out;
}

.fade-out {
  opacity: 0;
}

.fade-in {
  opacity: 1;
}

.hidden {
  display: none;
}

.margin-top {
  margin-top: 20px;
}

/* IDs */
#input-section {
  margin-top: 50px;
}

#game-info {
  display: flex;
  flex-direction: column;
  margin-top: 2rem;
  align-items: center;
  gap: 1rem;
}

#info-box, #hangman-box {
  width: 48%;  /* Not 50% to allow for a little space in between */
  flex-shrink: 0;
}

#info-box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

#hangman-display {
  text-align: left;
  display: inline-block;
  font-size: 2rem;
}

#authored-by {
  padding: 1rem;
}

#instructions {
  padding: 0 3rem 1rem 3rem;
}

#username {
  margin-bottom: 1rem;
}

#guess-box {
  margin-bottom: 1rem;
}

#results {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 1rem;
  margin-top: 10rem;
}

#game-result {
  max-width: 80%;
  word-wrap: break;
}

/* MEDIA QUERIES */
/* Media query: tablets and larger (768px and larger) */
@media screen and (min-width: 768px) {
  h1 {
    font-size: 4rem;
    }
}

@media screen and (min-width: 992px) {
#hangman-display {
    font-size: 2rem;
  }
}

@media screen and (min-width: 1200px) {
}
